@{
    ViewBag.Title = "首頁";

}

@using (Html.BeginForm())
{
    <body style="background-color: #F4F2F3 ">
        @ViewBag.name 歡迎
        <div class="container">
            <div class="child1">
                <table class="table">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <img src="~/Models/image/hbg6.png" style="width:600px" />
                            </td>
                        </tr>
                        <tr>
                            <td>日文名稱</td>
                            <td>鬼滅の刃</td>
                        </tr>
                        <tr>
                            <td>羅馬拼音</td>
                            <td>Kimetsu no Yaiba</td>
                        </tr>
                        <tr>
                            <td>原作</td>
                            <td>吾峠呼世晴</td>
                        </tr>
                        <tr>
                            <td>代理發行</td>
                            <td>週刊少年Jump (集英社)</td>
                        </tr>
                        <tr>
                            <td>連載期間</td>
                            <td>2016年2月15日-2020年5月18日</td>
                        </tr>
                        <tr>
                            <td>話數</td>
                            <td>205話</td>
                        </tr>
                        <tr>
                            <td>卷數</td>
                            <td>23卷</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="child2">

                <p style="font-size:20px">創作背景:</p>
                <p style="font-size:15px"> 作者吾峠呼世晴於第70屆（2013年4月）JUMP寶物新人漫畫賞得獎作《狩獵過頭反遭殃》（過狩り狩り）是這部作品的前身，當時引起初代編輯片山達彥的注意。這個故事發生在日本明治時代到大正時代，描繪海外來的吸血鬼、日本的鬼和鬼獵人的戰鬥。2016年，作者增加「呼吸法」、「鬼殺隊」設定擬定初稿爭取連載機會，但由於「世界觀太嚴厲和主人公太沉默」遭打回票。後來根據前輩的意見，作者修改部分設定創作《鬼滅之刃》，成功連載。 </p>
                <br />
                <p style="font-size:20px">設定:</p>
                <p style="font-size:15px">
                    平安時代罹患絕症的青年鬼舞辻無慘，接受治療後誤以為療程沒效怒殺醫生，卻發現自己成為了「鬼」，雖具有無限的壽命和強悍的身體能力，卻必須以人為食，且有受日曬會死亡及接觸紫藤花會中毒的弱點。無慘希望找到醫生藥方的最後一味「藍色彼岸花」完成治療克服陽光，便製造許多手下，強大的鬼可發動異能「血鬼術」。之後建立了「十二鬼月」，由旗下實力最強大的十二隻鬼組成，並分級為「上弦」和「下弦」，強度按數字排列。
                    千年前與鬼舞辻無慘同一族的產屋敷家族，因爲出了無慘之孽種使全族遭咒，會因痛苦的病而代代短命，後為了打倒無慘而組建了「鬼殺隊」。戰國時代鬼殺隊一度將無慘逼入絕境，可惜未成功。傳至大正時代由第97代產屋敷耀哉率領，成員有數百名劍士，使用「日輪刀」與鬼對戰，鬼殺隊的等級區分為癸到甲，最高等級的稱為「柱」。卓越的劍士可以使用「呼吸法」，分為十餘種流派，使用後能讓身體能力大幅提升。所有呼吸法都是沿自於「日之呼吸」的分支。
                </p>
                <div class="child3">
                    <p style="font-size:20px">劇情大綱:</p>
                    <p style="font-size:15px">
                        日本大正時代，有一位名叫竈門炭治郎的少年，繼承亡父所留下的炭業工作支撐一家七口在山上過著賣炭的樸實生活，某天炭治郎做完生意返家時天色已暗，一位居住在山中的男子三郎要求炭治郎待在他家中居住一晚，還跟炭治郎解釋有鬼出沒的消息。起初炭治郎以為鬼不會存在，直至隔天早上他返家後發現他的家人慘遭殺害，而妹妹禰豆子雖然倖存可是卻變成鬼。鬼殺隊的成員富岡義勇見狀後本欲斬殺禰豆子，但他在見識到炭治郎兄妹倆的親情後，並推薦他去拜住在狹霧山山腳的鱗瀧左近次為師，炭治郎經過兩年的訓練學會對抗鬼的方法通過考驗加入鬼殺隊。禰豆子因鱗瀧的暗示而把所有人類當作家人和必須保護的對象，協助炭治郎對抗傷害人類的惡鬼。
                        炭治郎在接踵而來的任務中擊敗多個鬼，並且與鬼的首領、也是殺害自己的家人並且把妹妹禰豆子變成鬼的兇手無慘首次接觸，也認識與無慘產生對立的鬼珠世與她建立合作關係。炭治郎在結識同伴我妻善逸和嘴平伊之助後前去支援與下弦之伍的對戰。他在陷入惡戰之際使出他家所祖傳的「火之神神樂」以及禰豆子覺醒的血鬼術一度扭轉頹勢，最終在義勇助陣下取勝。不過長期帶著鬼一同行動，違反隊規的炭治郎跟禰豆子被押送往產屋敷耀哉的宅邸進行審判，不過他們已經被產屋敷給認可繼續為鬼殺隊效命。炭治郎等人在恢復後接受特訓，後在於列車、花街、鑄刀師之村的多場戰鬥中與十二鬼月對上，儘管斬殺多名十二鬼月成員，但是鬼殺隊也折損數多優秀的成員。歷經鬼殺隊在鑄刀師之村的戰鬥後，由於禰豆子克服陽光的緣故讓無慘將目標轉向禰豆子。無慘查出產屋敷宅邸的位置，造訪該處並企圖奪走禰豆子，卻遭產屋敷以命相搏。在連串圍攻下，無慘因為珠世所施的藥被暫時強制變回人類，他便啟動手下的能力將眾人關進鬼的根據地「無限城」中。
                        鬼殺隊成員和十二鬼月捉對廝殺，雙方傷亡慘重。鬼殺隊在消滅所有十二鬼月後，無慘殺害珠世並擺脫她的牽制復活後與鬼殺隊殘存兵力展開決戰，並展現出壓倒性的實力。炭治郎被無慘注入大量血液，瀕死之際見到自己的祖先炭吉觀摩繼國緣壹施展日之呼吸的景象，得知火之神神樂便是日之呼吸，同時領悟到擊敗無慘的方法便是串聯日之呼吸的所有招式；另一方面，無慘因珠世的毒而急速衰老弱化，又多次承受鬼殺隊的攻擊，後被黎明曙光逼上絕路。無慘一度附身在炭治郎的身上企圖再次復活，但炭治郎在禰豆子的感化和珠世遺留的藥的作用下終於脫離掌控變回人類。無慘被消滅後，世上再無惡鬼危害人間，鬼殺隊也因此解散，他們的後代過著和平的生活。
                    </p>
                </div>
            </div>
         </div>
    </body>
}
@section topCSS{
    <style>
        .table > tbody > tr > td
        {
            text-align:center;
        }
        .container 
        {
            margin-top:40px;
            display: flex;
            flex-wrap:nowrap; 
            flex-direction:column;
        }
        .child1 
        {

            display:block;
            flex-direction:row;
            
        }
        .child2
        {
            margin-right:30px;
            margin-left:30px;
            display: block;

        }
        .child3
        {
            margin-right: 30px;
            display: block;
        }
    </style>
}
@*@section topCSS
    {
            <style>
                /*.table > tbody > tr > td
                {
                    border:1px solid;
                }*/
                .body
                {
                    font-family: DFWeiBei-B5;
                    font-size: 15px;
                    color: black;
                }
                .table
                {
                    margin-left: 100px;
                    margin-right: 100px;
                    margin-top: 80px;
                }

                /*設定文字對齊*/
                .table > caption, .table > thead > tr > th, .table > tfoot > tr
                {
                    text-align: center;
                }
               .table > caption, .table > thead > tr > th, .table > tfoot > tr
               {
                  text-align: center;
               }
            </style>
        }*@

@*<body style="background-color: #F4F2F3 ">
            <div class="panel">
                <div class="panel-heading">
                    <h1>劇情設定:</h1>
                </div>
                <div class="panel-body">
                    <p>
                        平安時代罹患絕症的青年鬼舞辻無慘，接受治療後誤以為療程沒效怒殺醫生，卻發現自己成為了「鬼」，雖具有無限的壽命和強悍的身體能力，卻必須以人為食，且有受日曬會死亡及接觸紫藤花會中毒的弱點。無慘希望找到醫生藥方的最後一味「藍色彼岸花」完成治療克服陽光，便製造許多手下，強大的鬼可發動異能「血鬼術」。
                        之後建立了「十二鬼月」，由旗下實力最強大的十二隻鬼組成，並分級為「上弦」和「下弦」，強度按數字排列。
                        千年前與鬼舞辻無慘同一族的產屋敷家族，因爲出了無慘之孽種使全族遭咒，會因痛苦的病而代代短命，後為了打倒無慘而組建了「鬼殺隊」。戰國時代鬼殺隊一度將無慘逼入絕境，可惜未成功。傳至大正時代由第97代產屋敷耀哉率領，成員有數百名劍士，使用「日輪刀」與鬼對戰，鬼殺隊的等級區分為癸到甲，最高等級的稱為「柱」。
                        卓越的劍士可以使用「呼吸法」，分為十餘種流派，使用後能讓身體能力大幅提升。所有呼吸法都是沿自於「日之呼吸」的分支。
                    </p>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <h1>劇情簡介:</h1>
                </div>
                <div class="panel-body">
                    <p>
                        大正時代，竈門炭治郎繼承亡父留下的炭業工作，支撐一家七口，在山上過著樸實的生活。某日他做完生意返家後發現全家遭鬼王鬼舞辻無慘屠殺，而妹妹禰豆子雖然倖存但變成了鬼。鬼殺隊富岡義勇見狀後本欲斬殺禰豆子，但他在見識到兄妹倆的親情後，推薦炭治郎拜鱗瀧左近次為師。炭治郎經過兩年訓練，學會對抗鬼的呼吸法與劍術，通過考驗加入鬼殺隊。
                        炭治郎在接踵而來的任務中擊敗多個鬼，並首次接觸鬼的首領，也是殺害自己全家的元兇──活了千年的無慘。炭治郎認識與無慘對立的鬼珠世，與她建立合作關係。在結識同伴我妻善逸和嘴平伊之助後，他們前去蜘蛛山支援與下弦之伍的對戰。炭治郎在苦戰之際使出祖傳的呼吸法「火之神神樂」，以及禰豆子覺醒的血鬼術一度扭轉頹勢，最終在義勇助陣下取勝。
                        由於長期違反隊規帶著身為鬼的禰豆子一同行動，炭治郎被押送往產屋敷耀哉的宅邸進行審判，他們被產屋敷認可。炭治郎等人在體力恢復後接受特訓，後在於列車、花街、鑄刀師之村的多場戰鬥中與十二鬼月對上。儘管殺死多名十二鬼月成員，鬼殺隊也折損數人。在鑄刀師之村的戰鬥結束後，禰豆子克服了陽光，讓無慘將目標轉向禰豆子。無慘查出產屋敷宅邸的位置，造訪該處並企圖奪走禰豆子，卻遭產屋敷以命相搏。在連串圍攻下，無慘中了珠世會將鬼變回人類的毒，他便啟動手下的能力，將眾人關進鬼的根據地「無限城」中。
                        鬼殺隊成員和十二鬼月捉對廝殺，雙方死傷慘重。在消滅了所有十二鬼月後，無慘殺死珠世並擺脫她的牽制，復活後與鬼殺隊殘存兵力展開決戰，並展現出壓倒性的實力。炭治郎被無慘注入大量血液，瀕臨死亡之際見到自己的祖先炭吉觀摩繼國緣壹施展日之呼吸的景象，得知火之神神樂便是日之呼吸，同時領悟到擊敗無慘的方法便是串聯日之呼吸的所有招式；另一方面，無慘因珠世的毒而急速衰老弱化，又多次承受鬼殺隊的攻擊，後被黎明曙光逼上絕路。無慘一度奪取炭治郎的身體，但在禰豆子的感化和胡蝶忍遺留的藥的作用下，炭治郎脫離掌控，變回人類。
                        無慘被消滅後，世上再無惡鬼，鬼殺隊也從此解散。炭治郎與夥伴們回鄉定居，他們的後代在現代日本過著和平美好的日子。
                    </p>
                </div>
            </div>
    </body>*@

@*<style>
        .panel-body {
            /* background-image: src("~/Models/image/hbg.jpg");*/
        }

        .panel > .panel-heading {
            background-color: #9bbfbd;
            font-family: DFWeiBei-B5;
            font-size: 25px;
        }

        .panel {
            color: black;
            border-color: aquamarine;
            border: 3px #284746 solid;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            /*  border-radius:99em;
            border-top-left-radius: 50px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    border-bottom-left-radius: 50px;*/
        }

        .jumbotron {
            margin-left: 1010px;
            margin-top: 20px;
            height: 180px;
            width: 180px;
        }
        /* .bg {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -999;
            background-attachment: scroll;
            }

            .bg img
            {
            min-height: 100%;
            width: 100%;
            }*/
    </style>*@


