
@{
    ViewBag.Title = "鬼滅の刃-下弦";
}
<body style="background-color: #F4F2F3 ">
    <div class="container">
        <h2>
            鬼滅の刃-下弦
            <audio autoplay="autoplay" loop="loop" controls="controls" style="float:right;margin-bottom:20px;" preload="auto">
                <source src="~/Models/audio/voice_126568.m4a" type="audio/mpeg">
            </audio>
        </h2>
    </div>

    <table class="table table-bordered table-layout:fixed" style="background-color: #E7F5FF; font-size: 16px; border: 2px black solid; font-weight: 800">
        <thead style="background-color: #E7F5FF">
            <tr>
                <th>名字+大頭照</th>
                <th>個性</th>
                <th>經歷</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>魘夢-えんむ <img src="~/Models/image/l1.jpg" height="150" width="175" /></td>
                <td>非常喜歡觀看人們因痛苦而扭曲的表情，十分迷戀無慘。</td>
                <td>還是人類時期的魘夢從小時候起就分不清夢和現實，經常給周圍人帶來困擾。
                長大之後惡用催眠療法，讓命不久矣的病人誤以為自己已經痊癒，之後再告訴他們這全都是騙人的，似乎不停做著這樣超惡劣的事。後來被鬼舞辻無慘變為了鬼。 </td>
            </tr>
            <tr>
                <td>轆轤- ろくろ<img src="~/Models/image/l2.jpg" height="170" width="170" /></td>
                <td>未知</td>
                <td>
                    是個很勇敢的大叔。無慘在開除下弦鬼時，轆轤說：「只要大人願意給我一點點血，我就會好好工作」。
                    只是無慘聽了，感到非常不滿意，便直接把轆轤給殺死。在動畫中戲份極少。
                </td>
            </tr>
            <tr>
                <td>病葉-わくらば<img src="~/Models/image/l3.jpg" height="170" width="170" /></td>
                <td>最忠誠於鬼舞辻無慘的鬼之一</td>
                <td>在下弦之伍累被斬殺後，與眾下弦被鬼舞辻無慘召集， 看到兩名下弦被處決後，心想自己好不容易才成為了下弦，想著今後才正要開始，必須找出如何生存的辦法，並以自身超高速的能力試圖逃離城內， 
                在快要逃離時發現已被無慘抓住，身首異處，身體無法再生。</td>
            </tr>
            <tr>
                <td>零餘子-むかご<img src="~/Models/image/l4.jpg" height="170" width="170" /></td>
                <td>是下弦之中最為膽怯的鬼</td>
                <td>
                    無慘對零餘子提出了「妳每次遇到獵鬼人裡的柱，都想著要逃跑對嗎？」，
                    在零餘子否認並表示會為無慘拚命後，零餘子因為否定了無慘的說法而遭到殺害。
                </td>
            </tr>
            <tr>
                <td>累-るい<img src="~/Models/image/l5.jpg" height="150" width="180" /></td>
                <td>缺愛</td>
                <td>
                    早期-由於體弱多病，甚至連行走都有困難，被鬼舞辻以同情賜予血液而變成鬼，
                    變為鬼後需要吃人，令父母感到恐懼，甚至想將累殺死，累對羈絆也因此產生扭曲。
                    <br />
                    那田蜘蛛山篇-被水柱斬首，死前回憶起生前的記憶，因為殺的人太多，認為自己會下地獄。
                </td>
            </tr>
            <tr>
                <td>釜鵺-かまぬえ<img src="~/Models/image/l6.jpg" height="170" width="170" /></td>
                <td>沒有上進心</td>
                <td>
                    在進入無線城後，無慘在之後提出「為何下弦的鬼如此脆弱」後，在心中想著「這種事對我們說也於事無補」，但被無慘讀取了想法，
                    從而冒犯了無慘，最後被無慘解體，成為在此次肅清中最先死亡的下弦。
                </td>
            </tr>
        </tbody>
    </table>
</body>
<style>
    .table > thead > tr > th {
        background-color: #cfdce6;
    }
    .table > tbody, .table > thead > tr > th, .table > tbody > tr > td, .table > thead
    {
        border: 2px solid;
        border-color: #7d8f99;
    }

</style>

