
@{
    ViewBag.Title = "鬼滅の刃-上弦";
}
<body style="background-color: #F4F2F3 ">
    <div class="container">
        <h2>
            鬼滅の刃-上弦
            <audio autoplay="autoplay" loop="loop" controls="controls" style="float:right;margin-bottom:20px;" preload="auto">
                <source src="~/Models/audio/voice_126568.m4a" type="audio/mpeg">
            </audio>
        </h2>
    </div>

    <table class="table table-bordered  table-layout:fixed" style="background-color: #E7F5FF; font-size: 16px; font-weight: 800; border: 2px solid">
        <thead style="background-color: #E7F5FF " id="head">
            <tr>
                <th>名字+大頭照</th>
                <th>能力</th>
                <th>武器</th>
                <th>變成鬼的原因</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    黑死牟-こくしぼう
                    <img src="~/Models/image/1.jpg" height="150" width="150" />
                </td>
                <td>月之呼吸</td>
                <td>長滿眼睛的日輪刀</td>
                <td>需要更多時間磨練劍術, 來超越弟弟繼國緣壹。</td>
            </tr>
            <tr>
                <td>
                    童磨-どうま
                    <img src="~/Models/image/2.jpg" height="150" width="150" />
                </td>
                <td>血鬼術</td>
                <td>鐵製的鋒利對扇</td>
                <td>20歲時遇到無慘覺得很感動，請對方將自己變成鬼。</td>
            </tr>
            <tr>
                <td>
                    猗窩座-あかざ
                    <img src="~/Models/image/3.jpg" height="150" width="150" />
                </td>
                <td>血鬼術、破壞術、素流拳法</td>
                <td>拳法</td>
                <td>聽聞摯愛之人逝去的訊息後因震怒而徒手殺死隔壁劍道場內的67名門生。在遇到無慘後，因為對人世再無眷戀而放棄抵抗，最後變成了鬼。</td>
            </tr>
            <tr>
                <td>
                    半天狗-はん天てんぐ
                    <img src="~/Models/image/4.jpg" height="150" width="150" />
                </td>
                <td>分裂</td>
                <td>無</td>
                <td>在人類時期為犯下許多罪的犯罪者，習慣裝無辜來掩蓋犯罪事實，認為自己是老弱善良的小偷。一次偷竊失風下被逮，因害怕被抓去奉行所而將舉報者殺了，在被處刑前因獲得無慘的血而變成鬼並將奉行殺害。</td>
            </tr>
            <tr>
                <td>
                    玉壺-ぎょっこ
                    <img src="~/Models/image/5.jpg" height="150" width="150" />
                </td>
                <td>血鬼術</td>
                <td>自己本身</td>
                <td>漫畫未說明。</td>
            </tr>
            <tr>
                <td>
                    妓夫太郎ぎゅうたろう
                    <img src="~/Models/image/6-2.jpg" height="150" width="150" />
                </td>
                <td>血鬼術</td>
                <td>兩把塗有劇毒的鐮刀</td>
                <td>在瀕死之際遇見前任上弦之陸（現為上弦之貳）的童磨，為向世人報復而自願讓童磨給予血液和梅一起變成鬼。</td>
            </tr>
            <tr>
                <td>
                    墮姬-だき
                    <img src="~/Models/image/6-1.jpg" height="150" width="150" />
                </td>
                <td>血鬼術</td>
                <td>綢帶</td>
                <td>
                    自幼與哥哥妓夫太郎相依為命，13歲時因不順從一位武士，而用髮簪將對方的眼睛弄瞎，導致最後被老闆娘和武士綁起，活活用火燒至瀕死，
                    後被哥哥救下，在哥哥四處尋求幫助時，遭遇了當時的上弦之陸童磨。
                </td>
            </tr>

        </tbody>
    </table>
</body>
<style>
    .table > thead > tr > th {
        background-color: #cfdce6;
    }

    .table > tbody, .table > thead > tr > th, .table > tbody > tr > td, .table > thead {
        border: 2px solid;
        border-color: #7d8f99;
    }

    .body {
        background-color: #d5e8e7;
    }
    /* tr:hover
    {
        background-color: #6B7D7D;
        color: #252657;
    }*/
    /*   .table-striped > tbody > tr:nth-child(2n+1) > td,
    .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #F3FAFF;
    }*/
    .td {
        color: black;
    }
</style>
